* {
    padding: 0;
    margin: 0;
}
/* latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Marck Script';
    font-style: normal;
    font-weight: 400;
    src: local('Marck Script'), local('MarckScript-Regular'), url(https://fonts.gstatic.com/s/marckscript/v8/nwpTtK2oNgBA3Or78gapdwuyyCg_.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html, body {
    font-size: 16px;
    width: 100%;   
    height: 100%;
    text-align: center;
    font-family: "Ubuntu";
    letter-spacing: 0.1em;
}
nav {
    width: 100%;
    background-color: white;
    position: fixed;
}
ul {
    display: flex;
    list-style: none;      
}
nav ul li {
    text-align: center;
    padding: 1em 1em;
    height: 100%;
}
.navigasi:hover {
    background-color: #373B44;
    color: white;
}
nav li:nth-child(2) {
    /* navigasi float di sebelah kanan */
    margin-left: auto;
}
a, a:active, a:visited {
    color: #FE4B74;
    text-decoration: none;
}
hr{
    width: 30%;
    margin: 2em auto 3em auto;
}
header h1 {
    font-family: "Marck Script";
    padding-top: 2em;
    font-size: 4em;
}
header h3 {
    padding-top: 1em;
}
header a {
    border: 1px solid #FE4B74;
    padding: 1em;
    border-radius: 20px;
}
header a:hover{
    background-color: #FE4B74;
    color: white;
}
.container {
    width: 100%;    
    padding-top: 6em;
    text-align: center;
}
header, section {
    height: 100%;    
    background-color: #373B44;
    color: white;    
}
section:nth-of-type(odd) {
    background-color: #FE4B74;
}
h2 {
    font-family: "Marck Script";
    font-size: 3em;
}
#about p {
    margin: 4em auto;
    width: 80%;
    font-size: 1.5em;
    line-height: 2em;
}
footer {

}